In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import pandas as pd

# dataset
data = {
    'experience': [1,2,3,4,5,6],
    'salary': [20000,25000,30000,35000,40000,45000]
}

df = pd.DataFrame(data)
df

   experience  salary
0           1   20000
1           2   25000
2           3   30000
3           4   35000
4           5   40000
5           6   45000

In [2]:
X = df[['experience']]
y = df['salary']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [3]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [4]:
print("R² Score:", r2_score(y_test, y_pred))

R² Score: 1.0